/p8/usb/v4.x/hex/Bootloader_v4.14_18f47j53_X8MHz.X/nbproject/private/
/p8/usb/v4.x/hex/Bootloader_v4.14_18f45k50_INTOSC.X/nbproject/private/
/p8/usb/v4.x/hex/pic18_c_template_1.X/nbproject/private/
/p8/usb/v4.x/hex/Bootloader_v4.17_16F1459_INTOSC.X/nbproject/private/
/p32/usb/Bootloader_v1.3_32MX270F256B_X8MHz.X/nbproject/private/